openapi: 3.2.0
info:
  contact:
    email: support@herondata.io
    name: Support
  title: Heron Data Categories API
  version: '2021-07-19'
servers:
- description: Production
  url: https://app.herondata.io
security:
- ApiKeyAuth:
  - key_XXX
tags:
- name: Categories
paths:
  /api/categories:
    get:
      description: Get available categories
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  categories:
                    items:
                      $ref: '#/components/schemas/Category'
                    type: array
                type: object
          description: OK
        '401':
          description: Unauthorized
      security:
      - ApiKeyAuth: []
      summary: Get categories
      tags:
      - Categories
components:
  schemas:
    Category:
      properties:
        analytics_group:
          description: The analytics group of the category
          enum:
          - revenue
          - cost_of_goods_sold
          - operational_expenses
          - tax_expenses
          - intra_company
          - debt
          - equity
          - other_income
          - special_items
          - other
          - null
          example: revenue
          readOnly: true
          type:
          - string
          - 'null'
        created:
          description: Timestamp for when the category was created
          example: '2026-08-14T12:24:37.212783+00:00'
          format: date-time
          readOnly: true
          type: string
        description:
          description: Description of the category
          example: Rent for offices, workspaces or storage facilities
          type: string
        heron_id:
          description: Unique ID of the category generated by Heron Data
          example: ctg_V5U2uiGd3QgehMHJuuBMFd
          readOnly: true
          type: string
        label:
          description: The label of the category
          example: Rent
          type: string
      required:
      - label
      type: object
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: x-api-key
      type: apiKey
externalDocs:
  description: Read Tutorial
  url: https://docs.herondata.io/
