openapi: 3.2.0
info:
  contact:
    email: support@herondata.io
    name: Support
  title: Heron Data End Users API
  version: '2021-07-19'
servers:
- description: Production
  url: https://app.herondata.io
security:
- ApiKeyAuth:
  - key_XXX
tags:
- name: EndUsers
paths:
  /api/end_user_emails:
    get:
      description: Get all emails for all end users associate with this user
      parameters:
      - in: query
        name: page
        required: true
        schema:
          minimum: 0
          type: integer
      - in: query
        name: limit
        required: true
        schema:
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  _meta:
                    properties:
                      count:
                        type: number
                      has_more:
                        type: boolean
                      page:
                        type: number
                      total_pages:
                        type: number
                    type: object
                  emails:
                    items:
                      properties:
                        email:
                          $ref: '#/components/schemas/EndUserEmailSchema'
                        end_user_heron_id:
                          type: string
                      type: object
                    type: array
                type: object
          description: OK
      security:
      - ApiKeyAuth: []
      summary: Get EndUser emails
      tags:
      - EndUsers
  /api/end_users:
    get:
      description: Get a list of EndUsers
      parameters:
      - description: Unique ID generated by Heron
        in: query
        name: heron_id
        required: false
        schema:
          example: eus_2stYWxcgbmpHMFCDJLD72a
          type:
          - string
          - 'null'
      - description: Filter by ID associated with end_user_id field in transactions
        in: query
        name: end_user_id
        required: false
        schema:
          example: your_end_user_id
          type:
          - string
          - 'null'
      - description: Filter by name associated with end user
        in: query
        name: name
        required: false
        schema:
          example: your_end_user_name
          type:
          - string
          - 'null'
      - description: Filter by status of end user
        in: query
        name: status
        required: false
        schema:
          enum:
          - new
          - ready
          - processed
          - reviewed
          - review_requested
          - failed
          - null
          example: reviewed
          type:
          - string
          - 'null'
      - description: Pagination page number
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
      - description: Pagination limit per page
        in: query
        name: limit
        required: false
        schema:
          default: 1000
          maximum: 10000
          minimum: 1
          type: integer
      - description: Order to return end users by
        in: query
        name: order_by
        required: false
        schema:
          default: last_updated_desc
          enum:
          - last_updated_desc
          - last_updated_asc
          - created_desc
          - created_asc
          type: string
      - description: Whether the end user is part of a lending portfolio
        in: query
        name: is_portfolio
        required: false
        schema:
          example: true
          type:
          - boolean
          - 'null'
      - description: Whether the to include data sources for each end user
        in: query
        name: include_data_sources
        required: false
        schema:
          default: false
          example: true
          type: boolean
      - description: Whether to include scorecard metrics for each end user (under field criteria)
        in: query
        name: include_scorecard_metrics
        required: false
        schema:
          default: false
          example: true
          type: boolean
      - description: Whether to include the tags applied to each end user
        in: query
        name: include_tags
        required: false
        schema:
          default: false
          example: true
          type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  _meta:
                    properties:
                      limit:
                        example: 1000
                        type: integer
                      next_url:
                        type: string
                      page:
                        example: 1
                        type: integer
                      pages:
                        example: 3
                        type: integer
                      prev_url:
                        type: string
                      total:
                        example: 3500
                        type: integer
                    type: object
                  end_users:
                    items:
                      $ref: '#/components/schemas/EndUser'
                    type: array
                type: object
          description: OK
      security:
      - ApiKeyAuth: []
      summary: List EndUsers
      tags:
      - EndUsers
    post:
      description: 'Create a new end user. If transactions have previously been sent for this `end_user_id`, use `PUT end_users` to update instead.

        '
      requestBody:
        content:
          application/json:
            schema:
              properties:
                end_user:
                  $ref: '#/components/schemas/EndUserPostParams'
              type: object
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                properties:
                  end_user:
                    $ref: '#/components/schemas/EndUser'
                type: object
          description: OK
      security:
      - ApiKeyAuth: []
      summary: Create EndUser
      tags:
      - EndUsers
    put:
      callbacks:
        onData:
          $yourWebhookUrl:
            post:
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/EndUserWebhookPayload'
                description: Webhook payload with end_user
              responses:
                '200':
                  description: 'Your webhook implementation should return this HTTP status code

                    if the data was received successfully.'
      description: 'Confirm an end user is ready for async processing by sending a status of "ready". The `end_user_id` must have previously been sent with at least one Transaction if attempting to update the status.

        '
      externalDocs:
        description: Webhook Tutorial
        url: https://docs.herondata.io/webhooks
      requestBody:
        content:
          application/json:
            schema:
              properties:
                end_user:
                  $ref: '#/components/schemas/EndUser'
              type: object
        description: Dictionary representing an EndUser
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  end_user:
                    $ref: '#/components/schemas/EndUser'
                type: object
          description: OK
      security:
      - ApiKeyAuth: []
      summary: Update EndUser
      tags:
      - EndUsers
  /api/end_users/summary:
    get:
      description: Get a list of EndUsers
      parameters:
      - description: Unique ID generated by Heron
        in: query
        name: heron_id
        required: false
        schema:
          example: eus_2stYWxcgbmpHMFCDJLD72a
          type:
          - string
          - 'null'
      - description: Filter by ID associated with end_user_id field in transactions
        in: query
        name: end_user_id
        required: false
        schema:
          example: your_end_user_id
          type:
          - string
          - 'null'
      - description: Filter by name associated with end user
        in: query
        name: name
        required: false
        schema:
          example: your_end_user_name
          type:
          - string
          - 'null'
      - description: Filter by status of end user
        in: query
        name: status
        required: false
        schema:
          enum:
          - new
          - ready
          - processed
          - reviewed
          - review_requested
          - failed
          - null
          example: reviewed
          type:
          - string
          - 'null'
      - description: Pagination page number (optional). If provided, 'limit' must also be provided.
        in: query
        name: page
        required: false
        schema:
          minimum: 1
          type:
          - integer
          - 'null'
      - description: Pagination limit per page (optional). If provided, 'page' must also be provided.
        in: query
        name: limit
        required: false
        schema:
          maximum: 10000
          minimum: 1
          type:
          - integer
          - 'null'
      - description: Order to return end users by
        in: query
        name: order_by
        required: false
        schema:
          default: last_updated_desc
          enum:
          - last_updated_desc
          - last_updated_asc
          - created_desc
          - created_asc
          type: string
      - description: Whether the end user is part of a lending portfolio
        in: query
        name: is_portfolio
        required: false
        schema:
          example: true
          type:
          - boolean
          - 'null'
      - description: Whether the to include data sources for each end user
        in: query
        name: include_data_sources
        required: false
        schema:
          default: false
          example: true
          type: boolean
      - description: Whether to include scorecard metrics for each end user (under field criteria)
        in: query
        name: include_scorecard_metrics
        required: false
        schema:
          default: false
          example: true
          type: boolean
      - description: Whether to include the tags applied to each end user
        in: query
        name: include_tags
        required: false
        schema:
          default: false
          example: true
          type: boolean
      - in: query
        name: with_policy_result
        required: false
        schema:
          enum:
          - passed
          - failed
          - review_required
          - missing_data
          - null
      - in: query
        name: with_crm_sync_result
        required: false
        schema:
          enum:
          - success
          - failure
          - no_sync_attempted
          - null
      - description: Filter to end users whose broker intake classification matches (e.g. 'submission')
        in: query
        name: broker_classification
        required: false
        schema:
          enum:
          - submission
          - decision
          - other
          - null
      - description: 'Filter to deals at this pipeline stage: ''ready'' before any send, ''missing_docs'' while an unshopped deal is tagged as missing statements or documents, ''shopped'' once a send to a funder has started. Broker customers only; ignored for others.'
        in: query
        name: deal_stage
        required: false
        schema:
          enum:
          - ready
          - missing_docs
          - shopped
          - null
      - description: Filter by whether an active document is pending human review
        in: query
        name: in_human_review
        required: false
        schema:
          type:
          - boolean
          - 'null'
      - in: query
        name: interval_start
        required: false
        schema:
          format: date-time
          type:
          - string
          - 'null'
      - in: query
        name: interval_end
        required: false
        schema:
          format: date-time
          type:
          - string
          - 'null'
      - description: When true, interval_start and interval_end match end users created or last updated within the window. Bounds are inclusive only when this flag is true.
        in: query
        name: include_updates_in_interval
        required: false
        schema:
          default: false
          type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  _meta:
                    description: Pagination metadata. Present only if pagination parameters ('page' and 'limit') are provided in the request.
                    properties:
                      limit:
                        example: 100
                        type: integer
                      next_url:
                        format: url
                        type:
                        - string
                        - 'null'
                      page:
                        example: 1
                        type: integer
                      pages:
                        example: 3
                        type: integer
                      prev_url:
                        format: url
                        type:
                        - string
                        - 'null'
                      total:
                        example: 350
                        type: integer
                    type: object
                  end_users:
                    items:
                      $ref: '#/components/schemas/EndUserSummary'
                    type: array
                type: object
          description: OK
      security:
      - ApiKeyAuth: []
      summary: List EndUsers with Summary Information
      tags:
      - EndUsers
  /api/end_users/{end_user_heron_id}/background_check:
    get:
      description: 'Get the background check results for an end user, including the screening run status, each subject''s identity matches and records, and the outcome of each policy check.

        '
      parameters:
      - description: The Heron ID of the end user
        in: path
        name: end_user_heron_id
        required: true
        schema:
          type: string
      - description: If true, each record additionally carries its full vendor detail under `detail`
        in: query
        name: include_section_detail
        required: false
        schema:
          default: false
          type: boolean
      - description: 'If true, each subject''s search trail is taken from that subject''s most recent run that used an automatic identity search, ignoring runs where the subject was manually pinned. Records and policy outcomes are unaffected.

          '
        in: query
        name: exclude_manual
        required: false
        schema:
          default: false
          type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundCheckResponseSchema'
          description: OK
        '404':
          description: End user not found
      security:
      - ApiKeyAuth: []
      summary: Get EndUser background check dashboard payload
      tags:
      - EndUsers
  /api/end_users/{end_user_heron_id}/background_check/affiliations:
    get:
      description: 'Lists every business and person the deal''s background check connects it to: the businesses each owner is recorded as affiliated with, the people associated with them, and the people and companies named as officers on the business''s own filings. Each row carries the state of any report requested for it, and is absent until a background check has completed.

        '
      parameters:
      - description: The Heron ID of the end user
        in: path
        name: end_user_heron_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundCheckAffiliationsViewSchema'
          description: OK
        '404':
          description: End user not found, or affiliations are not enabled for this account
      security:
      - ApiKeyAuth: []
      summary: List an end user's background check affiliations
      tags:
      - EndUsers
  /api/end_users/{end_user_heron_id}/background_check/affiliations/reports:
    post:
      description: 'Requests a background check report for each affiliation selected, business or person. Where the source records already identify the party, its report is retrieved for that party directly; otherwise a search runs first, and a search that settles on no single party returns `not_found` along with the parties it did find, so one can be confirmed. Poll the affiliations endpoint for progress.

        '
      parameters:
      - description: The Heron ID of the end user
        in: path
        name: end_user_heron_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackgroundCheckAffiliateReportRequestSchema'
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundCheckAffiliateRequestAcceptedSchema'
          description: Report requests accepted
        '404':
          description: End user not found, or affiliations are not enabled for this account
        '409':
          description: The affiliation list has changed, this affiliation cannot have a report requested for it, or no completed background check exists
      security:
      - ApiKeyAuth: []
      summary: Request background check reports for affiliations
      tags:
      - EndUsers
  /api/end_users/{end_user_heron_id}/background_check/affiliations/reports/confirm:
    post:
      description: 'Chooses which of the parties a search found the affiliation''s report should cover, either when the search settled on none of them or to correct an earlier choice. Only a party that affiliation''s own search identified can be chosen. Its report is retrieved in the background, replacing any report already held for that affiliation; poll the affiliations endpoint for progress.

        '
      parameters:
      - description: The Heron ID of the end user
        in: path
        name: end_user_heron_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackgroundCheckAffiliateConfirmSchema'
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundCheckAffiliationReportState'
          description: Report pull accepted
        '404':
          description: End user not found, or affiliations are not enabled for this account
        '409':
          description: No report has been requested for this affiliation, or no report can be ordered for the chosen party - it is not one this affiliation's search identified
      security:
      - ApiKeyAuth: []
      summary: Confirm a candidate for an affiliate report
      tags:
      - EndUsers
  /api/end_users/{end_user_heron_id}/background_check/affiliations/reports/{ref}:
    delete:
      description: 'Removes an affiliate report request, so later screening runs no longer pull a report for that affiliation. Reports already pulled remain on the runs that produced them.

        '
      parameters:
      - description: The Heron ID of the end user
        in: path
        name: end_user_heron_id
        required: true
        schema:
          type: string
      - description: The affiliate report request reference returned when it was requested
        in: path
        name: ref
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Request removed
        '404':
          description: End user not found, or affiliations are not enabled for this account
        '409':
          description: The affiliate report request does not exist
      security:
      - ApiKeyAuth: []
      summary: Stop tracking an affiliate report
      tags:
      - EndUsers
  /api/end_users/{end_user_heron_id}/background_check/override:
    delete:
      description: Clears every subject's CLEAR candidate pin so the enricher runs its full search waterfall for all subjects on the next run.
      parameters:
      - description: The Heron ID of the end user
        in: path
        name: end_user_heron_id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Overrides cleared
        '404':
          description: End user not found
      security:
      - ApiKeyAuth: []
      summary: Clear all CLEAR candidate overrides for a background check
      tags:
      - EndUsers
    get:
      description: Returns the per-subject CLEAR entity_id pins the background-check enricher fetches reports for directly, skipping its search. An empty value means that subject still runs the full search waterfall.
      parameters:
      - description: The Heron ID of the end user
        in: path
        name: end_user_heron_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundCheckCandidateOverrideSchema'
          description: OK
        '404':
          description: End user not found
      security:
      - ApiKeyAuth: []
      summary: Get the pinned CLEAR candidate overrides for a background check
      tags:
      - EndUsers
    post:
      description: Pins a CLEAR entity_id per subject (owner_1, owner_2, business) so the enricher fetches that candidate's report directly and skips its search. A null value clears that subject's pin; unpinned subjects still run the full search waterfall. Returns the current pins.
      parameters:
      - description: The Heron ID of the end user
        in: path
        name: end_user_heron_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackgroundCheckCandidateOverrideSchema'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundCheckCandidateOverrideSchema'
          description: OK
        '404':
          description: End user not found
      security:
      - ApiKeyAuth: []
      summary: Pin CLEAR candidate overrides for a background check
      tags:
      - EndUsers
  /api/end_users/{end_user_heron_id}/background_check/subjects/{subject_key}/raw_report:
    get:
      description: Returns the requested subject's raw background check report as a base64-encoded JSON payload.
      parameters:
      - description: The Heron ID of the end user
        in: path
        name: end_user_heron_id
        required: true
        schema:
          type: string
      - description: The background check subject whose raw report should be downloaded
        in: path
        name: subject_key
        required: true
        schema:
          enum:
          - owner_1
          - owner_2
          - business
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundCheckRawReportSchema'
          description: OK
        '404':
          description: End user or raw report not found
      security:
      - ApiKeyAuth: []
      summary: Download a background check raw report
      tags:
      - EndUsers
  /api/end_users/{end_user_heron_id}/background_check/subjects/{subject_key}/records/{record_id}/mugshot:
    get:
      description: Returns the mug shot for one criminal or arrest record as authenticated image bytes.
      parameters:
      - description: The Heron ID of the end user
        in: path
        name: end_user_heron_id
        required: true
        schema:
          type: string
      - description: The background check subject whose record should be viewed
        in: path
        name: subject_key
        required: true
        schema:
          enum:
          - owner_1
          - owner_2
          - business
          type: string
      - description: Stable reference of the criminal or arrest record
        in: path
        name: record_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            image/jpeg:
              schema:
                format: binary
                type: string
            image/png:
              schema:
                format: binary
                type: string
          description: Mug shot image
        '404':
          description: End user, record, or mug shot not found
      security:
      - ApiKeyAuth: []
      summary: View a criminal-record mug shot
      tags:
      - EndUsers
  /api/end_users/{end_user_heron_id}/duplicate_end_users:
    get:
      description: 'Find duplicate end users for the given end user by matching on EIN (federal_tax_id) or normalized legal business name. Only returns duplicates within the same user (lender). Matching strategy: (1) Priority - Match by EIN when available (fast indexed query), (2) Fallback - Match by normalized company_legal_business_name when EIN is missing. Requires the count_duplicate_end_users feature flag to be enabled for the user.

        '
      parameters:
      - description: The Heron ID of the end user to check for duplicates
        in: path
        name: end_user_heron_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DuplicateEndUsersResponse'
          description: List of duplicate end users found
        '403':
          description: Feature not enabled for this user
        '404':
          description: End user not found
      security:
      - ApiKeyAuth: []
      summary: Get duplicate end users for an end user
      tags:
      - EndUsers
  /api/end_users/{end_user_id_or_heron_id}:
    delete:
      deprecated: true
      description: 'Synchronously delete an end user and its associated transactions. Deprecated — use POST /end_users/{end_user_id_or_heron_id}/delete for async deletion instead.

        '
      parameters:
      - in: path
        name: end_user_id_or_heron_id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted
      security:
      - ApiKeyAuth: []
      summary: Delete EndUser by heron_id or end_user_id (sync)
      tags:
      - EndUsers
    get:
      description: 'Get an end user using its end_user_id or heron_id

        '
      parameters:
      - in: path
        name: end_user_id_or_heron_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  end_user:
                    $ref: '#/components/schemas/EndUser'
                type: object
          description: Ok
      security:
      - ApiKeyAuth: []
      summary: Get EndUser by heron_id or end_user_id
      tags:
      - EndUsers
  /api/end_users/{end_user_id_or_heron_id}/delete:
    post:
      description: 'Asynchronously delete an end user and its associated transactions. Returns immediately with a 202 status while deletion proceeds in the background.

        '
      parameters:
      - in: path
        name: end_user_id_or_heron_id
        required: true
        schema:
          type: string
      responses:
        '202':
          content:
            application/json:
              schema:
                properties:
                  heron_id:
                    example: eus_Eqio3Y4dhyNiMphrXwG58p
                    type: string
                  status:
                    example: pending
                    type: string
                type: object
          description: Accepted — deletion is in progress
      security:
      - ApiKeyAuth: []
      summary: Delete EndUser by heron_id or end_user_id (async)
      tags:
      - EndUsers
  /api/end_users/{end_user_id_or_heron_id}/emails:
    get:
      description: Get the emails associated with an end user
      parameters:
      - in: path
        name: end_user_id_or_heron_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/EndUserEmailSchema'
                type: array
          description: OK
      security:
      - ApiKeyAuth: []
      summary: Get EndUser emails
      tags:
      - EndUsers
  /api/end_users/{end_user_id_or_heron_id}/end_user_information:
    get:
      description: Get the company details of an end user including loan information
      parameters:
      - in: path
        name: end_user_id_or_heron_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndUserInformationSchema'
          description: OK
      security:
      - ApiKeyAuth: []
      summary: Get EndUser information
      tags:
      - EndUsers
    patch:
      description: Update the end user information
      parameters:
      - in: path
        name: end_user_id_or_heron_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndUserInformationPatchSchema'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndUserInformationSchema'
          description: OK
      security:
      - ApiKeyAuth: []
      summary: Patch EndUser information
      tags:
      - EndUsers
  /api/end_users/{end_user_id_or_heron_id}/enrich:
    post:
      description: 'Enriches transactions of an end user identified by its end_user_id or heron_id. There is an optional `priority` parameter that can be set to `high` to prioritize the enrichment over `normal` (default) priority. High priority enrichment is only enabled for enterprise-level accounts. Please contact support@herondata.io to upgrade your account.

        '
      parameters:
      - in: path
        name: end_user_id_or_heron_id
        required: true
        schema:
          type: string
      - description: Priority for async enrichment
        in: query
        name: priority
        required: false
        schema:
          default: normal
          enum:
          - normal
          - high
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  end_user:
                    $ref: '#/components/schemas/EndUser'
                type: object
          description: Ok
      security:
      - ApiKeyAuth: []
      summary: Enrich transactions of EndUser
      tags:
      - EndUsers
  /api/end_users/{end_user_id_or_heron_id}/location:
    get:
      description: Get the company physical address coordinates
      parameters:
      - in: path
        name: end_user_id_or_heron_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndUserAddressLocationSchema'
          description: OK
      security:
      - ApiKeyAuth: []
      summary: Get EndUser physical location
      tags:
      - EndUsers
  /api/end_users/{end_user_id_or_heron_id}/processing_status:
    get:
      description: 'Get the current processing status of an end user by heron_id or end_user_id. Returns whether the end user is currently being processed or has completed processing.

        '
      parameters:
      - in: path
        name: end_user_id_or_heron_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndUserProcessingStatusSchema'
          description: Successfully retrieved processing status
        '404':
          description: End user not found
      security:
      - ApiKeyAuth: []
      summary: Get EndUser processing status
      tags:
      - EndUsers
  /api/end_users/{heron_id}/crm_sync:
    get:
      parameters:
      - in: path
        name: heron_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CrmSyncEventSchema'
                type: array
          description: The list of CRM events that occurred for this end user
      security:
      - ApiKeyAuth: []
      summary: Retrieve CRM sync events for an end user
      tags:
      - EndUsers
    post:
      parameters:
      - in: path
        name: heron_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  crm_sync_triggered:
                    type: boolean
                  heron_id:
                    description: The Heron ID of the End User
                    type: string
                type: object
          description: Ok
      security:
      - ApiKeyAuth: []
      summary: Trigger a CRM Sync for an End User
      tags:
      - EndUsers
components:
  schemas:
    BackgroundCheckSubject:
      properties:
        application:
          allOf:
          - $ref: '#/components/schemas/BackgroundCheckApplication'
          description: Identity searched, taken from the application data.
        candidates:
          description: Every deduplicated candidate returned across the subject's searches, with its match score.
          items:
            $ref: '#/components/schemas/BackgroundCheckCandidate'
          type: array
        case_ref:
          description: Reserved case reference; null in normal use.
          type:
          - string
          - 'null'
        decision:
          allOf:
          - $ref: '#/components/schemas/BackgroundCheckDecision'
          description: Audit of how the winning candidate was selected; null when no scoring decision was needed.
        duns_numbers:
          description: D&B DUNS numbers of the resolved business. Empty for person subjects.
          items:
            type: string
          type: array
        key:
          description: 'Subject identifier: owner_1, owner_2, or business.'
          enum:
          - owner_1
          - owner_2
          - business
          type: string
        kind:
          description: 'Subject type: person or business.'
          enum:
          - person
          - business
          type: string
        name:
          description: 'Label for the subject: the matched record''s filed name for a business, the searched name for a person. Null when neither is known.'
          type:
          - string
          - 'null'
        related_party_officers:
          description: Business-filing officers who match a related party on the deal.
          items:
            type: string
          type: array
        resolution:
          allOf:
          - $ref: '#/components/schemas/BackgroundCheckResolution'
          description: How and whether the subject was matched.
        role:
          description: Subject's role on the deal; null when unavailable.
          type:
          - string
          - 'null'
        searches:
          description: Search waterfall in attempted order, including each step's inputs and outcome.
          items:
            $ref: '#/components/schemas/SearchAttempt'
          type: array
        sections:
          description: Report findings grouped by record type.
          items:
            $ref: '#/components/schemas/BackgroundCheckSection'
          type: array
        unreported_officers:
          description: Officers on active business filings who are not listed as owners on the application. Empty for person subjects.
          items:
            type: string
          type: array
      required:
      - application
      - candidates
      - key
      - kind
      - resolution
      - searches
      - sections
      - unreported_officers
      type: object
    BusinessContact:
      description: A background-check finding. Risk and severity carry the same none, low, medium, or high tier.
      properties:
        department:
          description: Department of the business contact.
          type:
          - string
          - 'null'
        emails:
          description: Business email addresses associated with the contact.
          items:
            type: string
          type: array
        job_level:
          description: Job level of the business contact.
          type:
          - string
          - 'null'
        linkedin_url:
          description: LinkedIn profile URL for the contact.
          type:
          - string
          - 'null'
        name:
          description: Name of the business contact.
          type:
          - string
          - 'null'
        organization:
          description: Organisation associated with the contact.
          type:
          - string
          - 'null'
        organization_addresses:
          description: Organisation addresses associated with the contact.
          items:
            $ref: '#/components/schemas/BusinessContactAddress'
          type: array
        phones:
          description: Business phone numbers associated with the contact.
          items:
            $ref: '#/components/schemas/ProfilePhone'
          type: array
        risk:
          description: Record risk tier.
          enum:
          - none
          - low
          - medium
          - high
        severity:
          description: Record severity tier, mirroring risk.
          readOnly: true
        source:
          description: Source that supplied the contact.
          type:
          - string
          - 'null'
        title:
          description: Title of the business contact.
          type:
          - string
          - 'null'
      type: object
    BackgroundCheckCheck:
      properties:
        area:
          description: Display group for the policy check.
          type: string
        area_sub:
          description: Display subgroup for the policy check; null when the check has none.
          type:
          - string
          - 'null'
        auto_reason:
          description: Explanation for the automated policy outcome; null when unavailable.
          type:
          - string
          - 'null'
        auto_status:
          description: 'Automated outcome: pass, review_required, failed, or missing_data.'
          enum:
          - pass
          - failed
          - review_required
          - missing_data
        check_text:
          description: Human-readable description of what the policy check evaluates.
          type: string
        evidence_subjects:
          description: Per-subject pointers to the findings that produced the policy outcome.
          items:
            $ref: '#/components/schemas/BackgroundCheckEvidence'
          type: array
        id:
          description: Stable check ID in <subject_tier>:<signal> form.
          type: string
        override:
          allOf:
          - $ref: '#/components/schemas/BackgroundCheckOverride'
          description: Manual reviewer override; null when the automated outcome stands.
        rule:
          description: Configured threshold or rule expression; null when the check has none.
          type:
          - string
          - 'null'
        signal:
          description: Underlying attribute evaluated by the policy check.
          type: string
      required:
      - area
      - auto_status
      - check_text
      - evidence_subjects
      - id
      - signal
      type: object
    BackgroundCheckResolution:
      properties:
        aka_names:
          description: Also-known-as names on the resolved entity.
          items:
            type: string
          type: array
        entity_not_found:
          description: True when no matching entity was found.
          type: boolean
        match_threshold:
          description: The deciding evidence-score floor; null on older records.
          type:
          - number
          - 'null'
        method:
          description: 'Resolving search step: ssn_only, name_state_dob, name_address, name_state, corp_id, manual_recovery (a reviewer manually selected the match), or linked_entity_id (no search ran - the report naming this affiliation already identified them).'
          type:
          - string
          - 'null'
        report_retry_attempted:
          description: True when a failed report retrieval was retried.
          type: boolean
        report_unavailable:
          description: True when a match resolved but the report pull failed (distinct from a search-time error).
          type: boolean
        score_version:
          description: Version of the match-scoring model; null when unavailable.
          type:
          - string
          - 'null'
        status:
          description: 'Resolution status: found, not_found, or error.'
          enum:
          - found
          - not_found
          - error
          type: string
        winner_ref:
          description: Ref into the subject's candidates[] for the resolved match; null when unresolved.
          type:
          - string
          - 'null'
      required:
      - entity_not_found
      - report_retry_attempted
      - report_unavailable
      - status
      type: object
    BackgroundCheckRecordDetail:
      description: Supplementary source detail returned with include_section_detail=true. The summarised record is the stable typed interface.
      properties:
        additional_fields:
          description: Every source value not mapped to a named field, as label and value pairs.
          items:
            $ref: '#/components/schemas/DetailLabelValue'
          type: array
        arrests:
          description: Arrest entries as source-provided key and value pairs.
          items:
            additionalProperties:
              type: string
            type: object
          type: array
        attorneys:
          description: Counsel the source does not tie to a specific party.
          items:
            $ref: '#/components/schemas/DetailAttorney'
          type: array
        bail:
          description: Bail entries on the case.
          items:
            $ref: '#/components/schemas/DetailBail'
          type: array
        case:
          allOf:
          - $ref: '#/components/schemas/DetailCase'
          description: Case metadata; null when not a case record.
        charges:
          description: Charges on the case.
          items:
            $ref: '#/components/schemas/DetailCharge'
          type: array
        collateral:
          description: Collateral descriptions on the filing.
          items:
            type: string
          type: array
        creditors:
          description: Creditors named on the filing.
          items:
            type: string
          type: array
        debtors:
          description: Debtors named on the filing.
          items:
            $ref: '#/components/schemas/DetailLienDebtor'
          type: array
        defendant:
          allOf:
          - $ref: '#/components/schemas/DetailDefendant'
          description: Defendant details; null when not applicable.
        docket_entries:
          description: Docket entries on the case.
          items:
            $ref: '#/components/schemas/DetailDocketEntry'
          type: array
        entries:
          description: 'For merged cases: one entry per raw source record, carrying this same shape.'
          items:
            $ref: '#/components/schemas/BackgroundCheckRecordDetail'
          type: array
        filing:
          allOf:
          - $ref: '#/components/schemas/DetailFiling'
          description: Filing metadata; null when not a filing record.
        filing_relationship:
          description: Source-provided filing relationship; null when unavailable.
          type:
          - string
          - 'null'
        meeting_341:
          allOf:
          - $ref: '#/components/schemas/DetailMeeting341'
          description: 341 creditors' meeting; null when not applicable.
        parties:
          description: Parties named on the case.
          items:
            $ref: '#/components/schemas/DetailParty'
          type: array
        record_shape:
          description: Names the source shape this detail carries.
          type:
          - string
          - 'null'
        related:
          description: Related records as label and value pairs.
          items:
            $ref: '#/components/schemas/DetailLabelValue'
          type: array
        secured_parties:
          description: Secured parties named on the filing.
          items:
            $ref: '#/components/schemas/DetailLienDebtor'
          type: array
        source:
          allOf:
          - $ref: '#/components/schemas/DetailSource'
          description: Provenance of the source record; null when unavailable.
        source_entry_id:
          description: Source-provided source entry reference; null when unavailable.
          type:
          - string
          - 'null'
      type: object
    EndUserEndUserFile:
      properties:
        file_class:
          type:
          - string
          - 'null'
        filename:
          type: string
        heron_id:
          type: string
        renamed_filename:
          type: string
      type: object
    BusinessProfileRecordSchema:
      description: A background-check finding. Risk and severity carry the same none, low, medium, or high tier.
      properties:
        alternate_business_names:
          description: Other business names on the record.
          items:
            type: string
          type: array
        business_description:
          description: Description of the business's activity.
          type:
          - string
          - 'null'
        business_name:
          description: Business name on the record.
          type:
          - string
          - 'null'
        business_type:
          description: Source-provided business type.
          type:
          - string
          - 'null'
        company_contact:
          description: Company contact named by the source.
          type:
          - string
          - 'null'
        contact_title:
          description: Title of the company contact.
          type:
          - string
          - 'null'
        corporate_status:
          description: Source-provided corporate status.
          type:
          - string
          - 'null'
        current_outstanding_shares:
          description: Current outstanding share count.
          type:
          - string
          - 'null'
        fiscal_year_end:
          description: Fiscal year end from the source.
          type:
          - string
          - 'null'
        incorporation_date:
          description: Date the business was incorporated.
          format: date
          type:
          - string
          - 'null'
        last_annual_financial_date:
          description: Date of the latest annual financial information.
          format: date
          type:
          - string
          - 'null'
        legal_business_name:
          description: Legal business name on the record.
          type:
          - string
          - 'null'
        location_type:
          description: Source-provided business location type.
          type:
          - string
          - 'null'
        non_profit:
          description: Whether the business is a nonprofit.
          type:
          - boolean
          - 'null'
        number_of_employees:
          description: Source-provided employee count.
          type:
          - string
          - 'null'
        operating_status:
          description: Source-provided operating status.
          type:
          - string
          - 'null'
        parent_company:
          description: Immediate or ultimate parent company.
          type:
          - string
          - 'null'
        primary_naics_code:
          description: Primary NAICS industry code.
          type:
          - string
          - 'null'
        primary_naics_desc:
          description: Description of the primary NAICS industry code.
          type:
          - string
          - 'null'
        primary_sic_code:
          description: Primary SIC industry code.
          type:
          - string
          - 'null'
        primary_sic_desc:
          description: Description of the primary SIC industry code.
          type:
          - string
          - 'null'
        public_company:
          description: Whether the business is publicly traded.
          type:
          - boolean
          - 'null'
        registered_agent:
          description: Registered agent named by the source.
          type:
          - string
          - 'null'
        risk:
          description: Record risk tier.
          enum:
          - none
          - low
          - medium
          - high
        secondary_naics_codes:
          description: Secondary NAICS industry codes.
          items:
            type: string
          type: array
        secondary_sic_codes:
          description: Secondary SIC industry codes.
          items:
            type: string
          type: array
        severity:
          description: Record severity tier, mirroring risk.
          readOnly: true
        shareholders:
          description: Shareholder information from the source.
          type:
          - string
          - 'null'
        source:
          description: Source that supplied the record.
          type:
          - string
          - 'null'
        state_of_incorporation:
          description: State where the business was incorporated.
          type:
          - string
          - 'null'
        stock_exchange:
          description: Stock exchange for a public company.
          type:
          - string
          - 'null'
        stock_ticker:
          description: Stock ticker for a public company.
          type:
          - string
          - 'null'
        website:
          description: Business website.
          type:
          - string
          - 'null'
        year_established:
          description: Year the business was established.
          type:
          - string
          - 'null'
        year_started:
          description: Year the business started operating.
          type:
          - string
          - 'null'
      type: object
    BackgroundCheckAffiliateRequestAcceptedSchema:
      properties:
        requests:
          description: 'One entry per selection: the report request accepted for processing, or the in-flight request it was deduplicated against.'
          items:
            $ref: '#/components/schemas/BackgroundCheckAffiliationReportState'
          type: array
      required:
      - requests
      type: object
    EndUserSummary:
      properties:
        broker_classification:
          description: How broker intake classified this end user's email thread (submission, decision, or other). Absent for end users processed before classification recording was introduced.
          enum:
          - submission
          - decision
          - other
          readOnly: true
        confidence:
          description: Aggregated confidence for the end user across all transactions; between 0 and 1
          example: 0.42
          readOnly: true
          type: number
        created:
          description: When the end user was created in Heron system
          example: '2026-07-03T12:24:30.665078'
          format: date-time
          readOnly: true
          type: string
        criteria:
          description: List of scorecard metrics
          items:
            $ref: '#/components/schemas/Metric'
          readOnly: true
          type: array
        crm_sync_result:
          allOf:
          - $ref: '#/components/schemas/CrmSyncEvent'
        data_sources:
          description: List of data source summaries for the end user
          items:
            $ref: '#/components/schemas/DataSource'
          readOnly: true
          type: array
        deal_stage:
          description: 'Where this deal sits in the broker pipeline: ''ready'' before any send, ''shopped'' once a send to a funder has started — a started send may already sit with the funder, so it never falls back to ''ready''. ''missing_docs'' is an unshopped deal tagged as missing statements or documents. Present for broker customers only.'
          enum:
          - ready
          - missing_docs
          - shopped
          readOnly: true
        end_user_id:
          description: id defined by user; links to the end_user_id for transactions
          example: 6a1d7831-8953-4f9f-a544-423cd8f48eb6
          maxLength: 140
          minLength: 1
          type: string
        files:
          items:
            $ref: '#/components/schemas/EndUserEndUserFile'
          type: array
        heron_id:
          description: Unique id for end user generated by Heron
          example: eus_5yWkT2NZzCevkyPwbGhn2Z
          readOnly: true
          type: string
        in_human_review:
          description: Whether an active document is pending human review
          readOnly: true
          type: boolean
        is_portfolio:
          description: Whether the end user is part of a lending portfolio
          example: true
          type: boolean
        last_processed_at:
          description: When the end user was last successfully processed in Heron system
          example: '2026-08-14T12:24:30.678624'
          format: date-time
          readOnly: true
          type: string
        last_updated:
          description: When the end user was last updated in Heron system
          example: '2026-08-14T12:24:30.665119'
          format: date-time
          readOnly: true
          type: string
        name:
          description: Name of end user; may help to improve categorisation accuracy
          example: Company Name Inc.
          maxLength: 128
          type:
          - string
          - 'null'
        policy_evaluation_results:
          description: One entry per use_case, carrying the latest evaluation's policy identity and result
          items:
            $ref: '#/components/schemas/PolicyEvaluationResult'
          type: array
        policy_evaluations:
          items:
            enum:
            - passed
            - failed
            - review_required
            - missing_data
          type: array
        profit_and_loss_layout: {}
        status:
          description: Status of end user; 'ready' triggers async processing, 'review_requested' triggers manual review request
          enum:
          - new
          - ready
          - processed
          - reviewed
          - review_requested
          - failed
          example: ready
          type: string
      required:
      - end_user_id
      type: object
    BackgroundCheckAffiliateSelection:
      properties:
        index:
          description: Position of the affiliation in that owner's list, as returned by the affiliations endpoint.
          minimum: 0
          type: integer
        kind:
          description: Whether the selection is an affiliated business or person.
          enum:
          - person
          - business
          type: string
        name:
          description: Name shown for the affiliation; the request is rejected if the list has changed.
          type: string
        search_inputs:
          allOf:
          - $ref: '#/components/schemas/BackgroundCheckAffiliateSearchInputs'
          description: Details to search a corporate officer on, whose filing carries only a name. Optional, and ignored for selections whose source already holds search details.
        subject_key:
          description: 'The report whose list the selection refers to: an owner''s affiliations, or the people and companies named as officers on the business''s own filings.'
          enum:
          - owner_1
          - owner_2
          - business
          type: string
      required:
      - index
      - kind
      - name
      - subject_key
      type: object
    AddressLocation:
      properties:
        lat:
          type: number
        lng:
          type: number
      type: object
    CrmSyncEvent:
      properties:
        crm_record_url:
          type:
          - string
          - 'null'
        error_message:
          type:
          - string
          - 'null'
        heron_id:
          type: string
        name:
          type: string
        occurred_at:
          format: date-time
          type: string
        provider:
          type:
          - string
          - 'null'
        result:
          enum:
          - success
          - failure
          - no_sync_attempted
        success_message:
          type:
          - string
          - 'null'
      type: object
    BackgroundCheckEvidence:
      properties:
        filtered:
          description: True when record_indices is a matched subset. An empty filtered list means no records matched.
          type: boolean
        record_indices:
          description: Indices into the cited section's records array.
          items:
            type: integer
          type: array
        section:
          description: Section key containing the cited evidence; null when no section applies.
          type:
          - string
          - 'null'
        subject_key:
          description: 'Evidence subject: owner_1, owner_2, business, any_owner, or submission.'
          enum:
          - owner_1
          - owner_2
          - business
          - any_owner
          - submission
          - null
          type:
          - string
          - 'null'
      required:
      - filtered
      - record_indices
      type: object
    ProfileSsnIssuance:
      properties:
        expiration_date:
          description: SSN issuance expiration date; null when unavailable.
          type:
          - string
          - 'null'
        issuance_text:
          description: Source-provided SSN issuance summary.
          type:
          - string
          - 'null'
        issue_date:
          description: SSN issuance date; null when unavailable.
          type:
          - string
          - 'null'
        issue_state:
          description: State where the SSN was issued; null when unavailable.
          type:
          - string
          - 'null'
      type: object
    LawsuitRecordSchema:
      description: A background-check finding. Risk and severity carry the same none, low, medium, or high tier.
      properties:
        amount:
          description: Amount on the case as a decimal string; null when unavailable.
          type:
          - number
          - 'null'
        amount_type:
          description: 'What the lawsuit amount represents: demand or judgment.'
          enum:
          - judgment
          - award
          - demand
          - null
          type:
          - string
          - 'null'
        case_category:
          description: Source-provided case category.
          type:
          - string
          - 'null'
        case_number:
          description: Court case reference; null when unavailable.
          type:
          - string
          - 'null'
        case_status:
          description: 'Status classification: active, ended, judgment, or no_status. Judgment means entered and still counts as active.'
          enum:
          - active
          - ended
          - judgment
          - no_status
          - null
        case_sub_category:
          description: Source-provided case subcategory.
          type:
          - string
          - 'null'
        case_title:
          description: Case title; null when unavailable.
          type:
          - string
          - 'null'
        case_type:
          description: Source-provided case type.
          type:
          - string
          - 'null'
        court_name:
          description: Court name; null when unavailable.
          type:
          - string
          - 'null'
        defendant_name:
          description: Defendant named on the case.
          type:
          - string
          - 'null'
        detail:
          allOf:
          - $ref: '#/components/schemas/BackgroundCheckRecordDetail'
          description: Only populated when include_section_detail=true is passed on the request
        entry_count:
          description: Number of underlying source entries combined into this record.
          type: integer
        file_date:
          description: Filing date; null when unavailable.
          format: date
          type:
          - string
          - 'null'
        is_active:
          description: True when the lawsuit appears to still be live.
          type: boolean
        is_felony:
          description: True when the docket record is felony-graded.
          type: boolean
        is_mca:
          description: True when the litigation was brought by a known merchant cash advance funder.
          type: boolean
        plaintiff_name:
          description: Plaintiff named on the case.
          type:
          - string
          - 'null'
        record_type:
          description: 'Record class: Lawsuit or Court docket.'
          type:
          - string
          - 'null'
        risk:
          description: Record risk tier.
          enum:
          - none
          - low
          - medium
          - high
        severity:
          description: Record severity tier, mirroring risk.
          readOnly: true
        source_entries:
          description: Underlying source rows combined into this record.
          items:
            $ref: '#/components/schemas/LitigationEntrySchema'
          type: array
        source_entry_ids:
          description: References for the underlying source rows combined into this record.
          items:
            type: string
          type: array
        status_text:
          description: Source-provided status string.
          type:
          - string
          - 'null'
      type: object
    BackgroundCheckAffiliateReportRequestSchema:
      properties:
        affiliates:
          description: The affiliations to request CLEAR reports for, at most 25 per request.
          items:
            $ref: '#/components/schemas/BackgroundCheckAffiliateSelection'
          maxItems: 25
          minItems: 1
          type: array
      required:
      - affiliates
      type: object
    TagSchema:
      properties:
        color:
          description: 'Optional display color as a six-digit hex code such as #1a2b3c, normalized to lowercase.'
          type:
          - string
          - 'null'
        description:
          description: Optional human-readable description of the tag.
          type:
          - string
          - 'null'
        heron_id:
          description: Unique identifier for the tag
          readOnly: true
          type: string
        name:
          description: 'Identifier normalized to lowercase: alphanumeric plus ''_'', ''-'', '':'', up to 140 chars. Unique to your account (case-insensitive).'
          type: string
      required:
      - name
      type: object
    DetailLienDebtor:
      properties:
        address:
          description: Source-provided address; null when unavailable.
          type:
          - string
          - 'null'
        name:
          description: Source-provided name; null when unavailable.
          type:
          - string
          - 'null'
        owed_amount:
          description: Source-provided owed amount; null when unavailable.
          type:
          - string
          - 'null'
        role:
          description: Source-provided role; null when unavailable.
          type:
          - string
          - 'null'
      type: object
    BackgroundCheckCandidate:
      description: One deduplicated candidate across the subject's search attempts, including its match score.
      properties:
        address:
          description: Candidate address returned by the search.
          type:
          - string
          - 'null'
        aka_names:
          description: Also-known-as names on the candidate.
          items:
            type: string
          type: array
        basis:
          description: Search basis that returned the candidate, such as the matching name variant.
          type:
          - string
          - 'null'
        duns_numbers:
          description: D&B DUNS numbers from the business candidate; empty for person candidates.
          items:
            type: string
          type: array
        entity_id:
          description: Source entity identifier; null when unavailable.
          type:
          - string
          - 'null'
        group_id:
          description: Source record-group identifier; null when unavailable.
          type:
          - string
          - 'null'
        id:
          description: 'Stable candidate reference: source entity ID, or group ID as fallback.'
          type: string
        is_limited:
          description: Whether the candidate is a limited-data record; null when unknown.
          type:
          - boolean
          - 'null'
        matched_address:
          description: Non-primary address that matched the search; null when the primary address matched.
          type:
          - string
          - 'null'
        matched_aka_name:
          description: Also-known-as name that matched the search; null when the primary name matched.
          type:
          - string
          - 'null'
        name:
          description: Candidate name returned by the search.
          type:
          - string
          - 'null'
        rank:
          description: Candidate's position in the search results.
          type:
          - integer
          - 'null'
        relevance:
          description: Source relevance score for the search hit.
          type:
          - integer
          - 'null'
        score:
          allOf:
          - $ref: '#/components/schemas/CandidateScore'
          description: Match score audit; null when the candidate was not scored.
      required:
      - id
      type: object
    EndUserWebhookData:
      properties:
        end_user_id:
          description: Customer-supplied id for the end user
          example: myenduser
          type: string
        heron_id:
          description: Heron ID of the end user
          example: eus_Eqio3Y4dhyNiMphrXwG58p
          type: string
        status:
          description: Status of the end user (e.g. 'processed', 'reviewed')
          example: processed
          type: string
      type: object
    CorporateRecordSchema:
      description: A background-check finding. Risk and severity carry the same none, low, medium, or high tier.
      properties:
        annual_report_file_date:
          description: Date the filing office received the annual report; null when unavailable.
          format: date
          type:
          - string
          - 'null'
        associated_business_count:
          description: Number of associated businesses in the source business group.
          type: integer
        business_duns:
          description: DUNS number assigned to the filed business; null when unavailable.
          type:
          - string
          - 'null'
        business_group:
          description: Source grouping identifier for associated businesses.
          type:
          - string
          - 'null'
        business_name:
          description: The registered business name.
          type:
          - string
          - 'null'
        business_type:
          description: Source-provided business type on the filing; the first value when the source reports several.
          type:
          - string
          - 'null'
        corp_status:
          description: 'Filing status classification: active, inactive, dissolved, failed, or unknown. Failed covers forfeited, revoked, suspended, and administratively dissolved filings.'
          enum:
          - active
          - dissolved
          - inactive
          - failed
          - unknown
        corporation_number:
          description: Corporation number the filing office assigned to the entity; null when the source does not report one.
          type:
          - string
          - 'null'
        corporation_type:
          description: Source-provided corporation classification, separate from the filing's business type; null when unavailable.
          type:
          - string
          - 'null'
        duration:
          description: Source-provided duration date or term; null when unavailable.
          type:
          - string
          - 'null'
        federal_emp_id:
          description: Federal employer identification number listed on the filing.
          type:
          - string
          - 'null'
        filing_date:
          description: Filing date; null when unavailable.
          format: date
          type:
          - string
          - 'null'
        filing_history:
          description: Ordered filing events recorded for this corporate record.
          items:
            $ref: '#/components/schemas/CorporateFilingHistoryEntrySchema'
          type: array
        filing_office_duns:
          description: Source-provided filing DUNS number; null when unavailable.
          type:
          - string
          - 'null'
        filing_office_name:
          description: Office where the filing was recorded.
          type:
          - string
          - 'null'
        filing_state:
          description: State where the filing was recorded.
          type:
          - string
          - 'null'
        filing_state_name:
          description: Full name of the filing state.
          type:
          - string
          - 'null'
        former_names:
          description: Former business names listed on the filing.
          items:
            type: string
          type: array
        has_officers:
          description: True when the filing lists officers.
          type: boolean
        incorporation_date:
          description: Date the entity was incorporated.
          format: date
          type:
          - string
          - 'null'
        is_failed:
          description: True when the corporate filing status is failed.
          type: boolean
        notes:
          description: Source-provided note about the filing; null when unavailable.
          type:
          - string
          - 'null'
        officer_count:
          description: Number of officers listed on the filing.
          type: integer
        officer_names:
          description: Names of officers listed on the filing.
          items:
            type: string
          type: array
        owner_is_officer:
          description: True when the application's named owner appears among the filing's officers.
          type: boolean
        ownership_changed:
          description: True when officers changed across the entity's filings.
          type: boolean
        registered_agent:
          description: Registered agent listed on the filing.
          type:
          - string
          - 'null'
        registered_agent_address:
          description: Address of the registered agent listed on the filing.
          type:
          - string
          - 'null'
        risk:
          description: Record risk tier.
          enum:
          - none
          - low
          - medium
          - high
        severity:
          description: Record severity tier, mirroring risk.
          readOnly: true
        source:
          description: Source that supplied the record.
          type:
          - string
          - 'null'
        state_filing_number:
          description: Filing number recorded on the filing; null when the source does not report one.
          type:
          - string
          - 'null'
        state_of_incorporation:
          description: State where the entity was incorporated.
          type:
          - string
          - 'null'
        status:
          description: Source-provided corporate filing status.
          type:
          - string
          - 'null'
        status_date:
          description: Date the source recorded the corporate status; null when unavailable.
          format: date
          type:
          - string
          - 'null'
        status_effective_date:
          description: Date the filing became effective; null when unavailable.
          format: date
          type:
          - string
          - 'null'
      type: object
    LienJudgmentRecordSchema:
      description: A background-check finding. Risk and severity carry the same none, low, medium, or high tier.
      properties:
        amount:
          description: Amount on the record as a decimal string; null when unavailable.
          type:
          - number
          - 'null'
        amount_band:
          description: 'Amount band: none, small under $10,000, medium from $10,000 to $49,999.99, or large at $50,000 or more.'
          enum:
          - none
          - small
          - medium
          - large
        case_number:
          description: Court case reference; null when unavailable.
          type:
          - string
          - 'null'
        court_county:
          description: County of the court; null when unavailable.
          type:
          - string
          - 'null'
        court_location:
          description: Location of the court; null when unavailable.
          type:
          - string
          - 'null'
        court_name:
          description: Court name; null when unavailable.
          type:
          - string
          - 'null'
        creditor_count:
          description: Number of creditors on the case.
          type: integer
        creditor_name:
          description: First creditor named on the case; null when unavailable.
          type:
          - string
          - 'null'
        debtor_name:
          description: Debtor named on the filing.
          type:
          - string
          - 'null'
        detail:
          allOf:
          - $ref: '#/components/schemas/BackgroundCheckRecordDetail'
          description: Only populated when include_section_detail=true is passed on the request
        entry_count:
          description: Number of underlying source entries combined into this record.
          type: integer
        file_date:
          description: Filing date; null when unavailable.
          format: date
          type:
          - string
          - 'null'
        filing_relationship:
          description: 'Relationship to another filing: released_by or release_of; null when unlinked.'
          type:
          - string
          - 'null'
        is_federal_tax_lien:
          description: True when the filing is a federal tax lien.
          type: boolean
        is_mca_creditor:
          description: True when the creditor is a known merchant cash advance funder.
          type: boolean
        is_released:
          description: True when the source no longer shows the lien as outstanding. Vacated and closed records are included, not only released ones.
          type: boolean
        record_type:
          description: Source-provided record class.
          type:
          - string
          - 'null'
        related_filing_number:
          description: Reference of the related filing; null when unlinked.
          type:
          - string
          - 'null'
        release_date:
          description: Lien release date; null when unreleased.
          format: date
          type:
          - string
          - 'null'
        risk:
          description: Record risk tier.
          enum:
          - none
          - low
          - medium
          - high
        satisfaction_date:
          description: Date the debt was satisfied as recorded on the source; null when unavailable.
          format: date
          type:
          - string
          - 'null'
        severity:
          description: Record severity tier, mirroring risk.
          readOnly: true
        shared_case_key:
          description: Stable key for a record that appears on both owner and business reports; null when not shared.
          type:
          - string
          - 'null'
        shared_relationship:
          description: 'Where the shared record also appears: also_on_business or also_on_owner; null when not shared.'
          enum:
          - also_on_owner
          - also_on_business
          - null
          type:
          - string
          - 'null'
        source_entries:
          description: Underlying source rows combined into this record.
          items:
            $ref: '#/components/schemas/LienJudgmentEntrySchema'
          type: array
        source_entry_ids:
          description: References for the underlying source rows combined into this record.
          items:
            type: string
          type: array
        status:
          description: 'Lien status: open, released, vacated, or closed.'
          enum:
          - open
          - released
          - vacated
          - closed
        type_of_filing:
          description: Source-provided filing type, such as JUDGMENT LIEN, FEDERAL TAX LIEN, or STATE TAX LIEN.
          type:
          - string
          - 'null'
        type_of_satisfaction:
          description: How the debt was satisfied as recorded on the source; null when unavailable.
          type:
          - string
          - 'null'
        vacate_date:
          description: Judgment vacate date; null when not vacated.
          format: date
          type:
          - string
          - 'null'
      type: object
    DetailMeeting341:
      properties:
        date:
          description: Source-provided meeting date; null when unavailable.
          type:
          - string
          - 'null'
        location:
          description: Source-provided meeting location; null when unavailable.
          type:
          - string
          - 'null'
        time:
          description: Source-provided meeting time; null when unavailable.
          type:
          - string
          - 'null'
      type: object
    EndUserInformationSchema:
      properties:
        amount_requested:
          type:
          - number
          - 'null'
        annual_revenue:
          type:
          - number
          - 'null'
        business_start_date:
          format: date
          type:
          - string
          - 'null'
        company_billing_address:
          $ref: '#/components/schemas/Address'
        company_email:
          type:
          - string
          - 'null'
        company_legal_business_name:
          type:
          - string
          - 'null'
        company_phone_number:
          type:
          - string
          - 'null'
        company_physical_address:
          $ref: '#/components/schemas/Address'
        company_website:
          type:
          - string
          - 'null'
        dba:
          description: Doing business as
          type:
          - string
          - 'null'
        federal_tax_id:
          type:
          - string
          - 'null'
        industry_type:
          type:
          - string
          - 'null'
        loan_purpose:
          type:
          - string
          - 'null'
        monthly_revenue:
          type:
          - number
          - 'null'
        naics:
          type:
          - string
          - 'null'
        owner_1:
          $ref: '#/components/schemas/Owner'
        owner_2:
          $ref: '#/components/schemas/Owner'
        predicted_industry_probability:
          type:
          - number
          - 'null'
        source_email_address:
          type:
          - string
          - 'null'
        source_name:
          type:
          - string
          - 'null'
        source_notes:
          type:
          - string
          - 'null'
        source_type:
          description: Source of the end user information
          enum:
          - api
          - iso_application_form
          - heron_industry_classifier
          - rel6_industry_classifier
          - email
          - end_user_entities
          example: iso_application_form
          type: string
        state_of_incorporation:
          type:
          - string
          - 'null'
        type_of_business_entity:
          type:
          - string
          - 'null'
      type: object
    EndUserProcessingStatusSchema:
      properties:
        status:
          description: Current processing status of the end user
          enum:
          - processing
          - processed
          example: processed
      required:
      - status
      type: object
    BackgroundCheckAffiliateConfirmSchema:
      properties:
        entity_id:
          description: The chosen candidate's entity identifier from the report's search trail.
          type: string
        ref:
          description: The affiliate report request reference, as returned when it was requested.
          type: string
      required:
      - entity_id
      - ref
      type: object
    CandidateScore:
      properties:
        anchor_trace:
          allOf:
          - $ref: '#/components/schemas/CandidateAnchorTrace'
          description: Winner-only; null otherwise.
        anchored_by:
          description: The anchor identifier that resolved the match (e.g. ein); winner-only.
          type:
          - string
          - 'null'
        cap_trace:
          allOf:
          - $ref: '#/components/schemas/CandidateCapTrace'
          description: Audit of the score cap; null when no cap was applied.
        capped_by:
          description: Names the clamp when the total isn't the contribution sum (e.g. zero_floor); null otherwise.
          type:
          - string
          - 'null'
        contributions:
          description: Per-field ledger of contributions to the candidate's match score.
          items:
            $ref: '#/components/schemas/CandidateScoreContribution'
          type: array
        tier:
          description: 'Score tier: high, medium, or low.'
          enum:
          - high
          - medium
          - low
          type: string
        total:
          description: The match score as a fraction in [0, 1].
          type: number
        version:
          description: Match-scoring model version.
          type: string
      required:
      - contributions
      - tier
      - total
      - version
      type: object
    SearchAttemptCandidateRef:
      properties:
        id:
          description: Reference to the matching entry in candidates.
          type: string
        matched_address:
          description: Address matched on this step; present only when it differs from the canonical entry.
          type: string
        matched_aka_name:
          description: AKA name matched on this step; present only when it differs from the canonical entry.
          type: string
        rank:
          description: Rank on this step; present only when it differs from the canonical entry.
          type: integer
        relevance:
          description: Relevance on this step; present only when it differs from the canonical entry.
          type: integer
        score_total:
          description: Match score on this step; present only when it differs from the canonical entry.
          type: number
      required:
      - id
      type: object
    LienJudgmentEntrySchema:
      description: A background-check finding. Risk and severity carry the same none, low, medium, or high tier.
      properties:
        amount:
          description: Amount on the record as a decimal string; null when unavailable.
          type:
          - number
          - 'null'
        amount_band:
          description: 'Amount band: none, small under $10,000, medium from $10,000 to $49,999.99, or large at $50,000 or more.'
          enum:
          - none
          - small
          - medium
          - large
        case_number:
          description: Court case reference; null when unavailable.
          type:
          - string
          - 'null'
        court_county:
          description: County of the court; null when unavailable.
          type:
          - string
          - 'null'
        court_location:
          description: Location of the court; null when unavailable.
          type:
          - string
          - 'null'
        court_name:
          description: Court name; null when unavailable.
          type:
          - string
          - 'null'
        creditor_count:
          description: Number of creditors on the case.
          type: integer
        creditor_name:
          description: First creditor named on the case; null when unavailable.
          type:
          - string
          - 'null'
        debtor_name:
          description: Debtor named on the filing.
          type:
          - string
          - 'null'
        file_date:
          description: Filing date; null when unavailable.
          format: date
          type:
          - string
          - 'null'
        filing_relationship:
          description: 'Relationship to another filing: released_by or release_of; null when unlinked.'
          type:
          - string
          - 'null'
        is_federal_tax_lien:
          description: True when the filing is a federal tax lien.
          type: boolean
        is_mca_creditor:
          description: True when the creditor is a known merchant cash advance funder.
          type: boolean
        is_released:
          description: True when the source no longer shows the lien as outstanding. Vacated and closed records are included, not only released ones.
          type: boolean
        original_filing_number:
          description: Original filing number for this source entry.
          type:
          - string
          - 'null'
        record_type:
          description: Source-provided record class.
          type:
          - string
          - 'null'
        related_filing_number:
          description: Reference of the related filing; null when unlinked.
          type:
          - string
          - 'null'
        release_date:
          description: Lien release date; null when unreleased.
          format: date
          type:
          - string
          - 'null'
        risk:
          description: Record risk tier.
          enum:
          - none
          - low
          - medium
          - high
        satisfaction_date:
          description: Date the debt was satisfied as recorded on the source; null when unavailable.
          format: date
          type:
          - string
          - 'null'
        severity:
          description: Record severity tier, mirroring risk.
          readOnly: true
        source_entry_id:
          description: Stable reference for the underlying source row; null when unavailable.
          type:
          - string
          - 'null'
        type_of_filing:
          description: Source-provided filing type, such as JUDGMENT LIEN, FEDERAL TAX LIEN, or STATE TAX LIEN.
          type:
          - string
          - 'null'
        type_of_satisfaction:
          description: How the debt was satisfied as recorded on the source; null when unavailable.
          type:
          - string
          - 'null'
        vacate_date:
          description: Judgment vacate date; null when not vacated.
          format: date
          type:
          - string
          - 'null'
      type: object
    CriminalSectionRecordSchema:
      description: A background-check finding. Risk and severity carry the same none, low, medium, or high tier.
      properties:
        actual_release_date:
          description: Actual release date from custody; null when unavailable.
          format: date
          type:
          - string
          - 'null'
        arrest_date:
          description: Date of the arrest; null when unavailable.
          format: date
          type:
          - string
          - 'null'
        arrest_time:
          description: Time of the arrest; null when unavailable.
          type:
          - string
          - 'null'
        arresting_agency:
          description: Arresting agency named on the source record; null when unavailable.
          type:
          - string
          - 'null'
        bail_amount:
          description: Bail amount on the record as a decimal string; null when unavailable.
          type:
          - number
          - 'null'
        booking_date:
          description: Date of the booking; null when unavailable.
          format: date
          type:
          - string
          - 'null'
        booking_location:
          description: Booking location; null when unavailable.
          type:
          - string
          - 'null'
        booking_number:
          description: Booking reference; null when unavailable.
          type:
          - string
          - 'null'
        booking_time:
          description: Time of the booking; null when unavailable.
          type:
          - string
          - 'null'
        case_number:
          description: Court case reference; null when unavailable.
          type:
          - string
          - 'null'
        case_status:
          description: The court's live case status, such as DISCHARGE or PENDING. Can resolve a case even when no disposition is recorded; null when unavailable.
          type:
          - string
          - 'null'
        case_status_date:
          description: Date of the case status; null when unavailable.
          format: date
          type:
          - string
          - 'null'
        categories:
          description: 'Offence classifications: fraud, violent, dui, drug, burglary, domestic_violence, child_related, sex_offense, murder_homicide, fiduciary, or other.'
          items:
            enum:
            - violent
            - murder_homicide
            - domestic_violence
            - burglary
            - fraud
            - sex_offense
            - child_related
            - fiduciary
            - animal_cruelty
            - drug
            - dui
            - other
          type: array
        category:
          description: Source-provided offence category string.
          type:
          - string
          - 'null'
        court_county:
          description: County of the court; null when unavailable.
          type:
          - string
          - 'null'
        court_name:
          description: Court name; null when unavailable.
          type:
          - string
          - 'null'
        crime_date:
          description: Date the offence occurred, distinct from the case filing date; null when unavailable.
          format: date
          type:
          - string
          - 'null'
        detail:
          allOf:
          - $ref: '#/components/schemas/BackgroundCheckRecordDetail'
          description: Only populated when include_section_detail=true is passed on the request
        disposition:
          description: Case or charge outcome; null when unavailable.
          type:
          - string
          - 'null'
        disposition_date:
          description: Date of the disposition; null when unavailable.
          format: date
          type:
          - string
          - 'null'
        entry_count:
          description: Number of underlying source entries combined into this record.
          type: integer
        filed_date:
          description: Case filing date; null when unavailable.
          format: date
          type:
          - string
          - 'null'
        fine_amount:
          description: Fine imposed as a decimal string; null when unavailable.
          type:
          - number
          - 'null'
        grade:
          description: 'Offence grade: felony, misdemeanor, petty_misdemeanor, infraction, or unknown.'
          enum:
          - felony
          - misdemeanor
          - petty_misdemeanor
          - infraction
          - unknown
        is_dismissed:
          description: True when the case was dismissed or not prosecuted.
          type: boolean
        is_felony:
          description: True when any charge on the case is a felony.
          type: boolean
        is_unclassified:
          description: True when the offence could not be classified.
          type: boolean
        mugshot_record_id:
          description: Stable identifier used to request this record's mug shot; null when no mug shot is available.
          type:
          - string
          - 'null'
        number_of_counts:
          description: Number of counts; null when unavailable.
          type:
          - integer
          - 'null'
        offense:
          description: Offence as recorded on the source document.
          type:
          - string
          - 'null'
        offense_county:
          description: County where the offence occurred; null when unavailable.
          type:
          - string
          - 'null'
        offense_location:
          description: Where the offence took place; null when unavailable.
          type:
          - string
          - 'null'
        parole_status:
          description: Parole status; null when unavailable.
          type:
          - string
          - 'null'
        plea:
          description: The plea entered - the changed plea when one exists, else the original; null when unavailable.
          type:
          - string
          - 'null'
        plea_date:
          description: Date of the plea; null when unavailable.
          format: date
          type:
          - string
          - 'null'
        probation_end_date:
          description: Probation end date - the actual end when recorded, else the scheduled end; null when unavailable.
          format: date
          type:
          - string
          - 'null'
        probation_violation:
          description: Probation violation as recorded on the source; null when unavailable.
          type:
          - string
          - 'null'
        projected_release_date:
          description: Projected release date from custody, falling back to the tentative then maximum release date; null when unavailable.
          format: date
          type:
          - string
          - 'null'
        record_type:
          description: 'Record class: Criminal case or Arrest record.'
          type:
          - string
          - 'null'
        risk:
          description: Record risk tier.
          enum:
          - none
          - low
          - medium
          - high
        sentence:
          description: Sentence text; null when unavailable.
          type:
          - string
          - 'null'
        severity:
          description: Record severity tier, mirroring risk.
          readOnly: true
        severity_text:
          description: Source-provided severity string.
          type:
          - string
          - 'null'
        shared_case_key:
          description: Stable key for a record that appears on both owner and business reports; null when not shared.
          type:
          - string
          - 'null'
        shared_relationship:
          description: 'Where the shared record also appears: also_on_business or also_on_owner; null when not shared.'
          enum:
          - also_on_owner
          - also_on_business
          - null
          type:
          - string
          - 'null'
        source_entries:
          description: 'Underlying source rows combined into this record: one per charge for a court case, one per reported arrest entry for an arrest.'
          items:
            $ref: '#/components/schemas/CriminalSectionEntrySchema'
          type: array
        source_entry_id:
          description: Stable reference for the underlying source row; null when unavailable.
          type:
          - string
          - 'null'
        source_entry_ids:
          description: References for the underlying source rows combined into this record.
          items:
            type: string
          type: array
        state:
          description: State the arrest record was reported in; null when unavailable.
          type:
          - string
          - 'null'
        statute_code:
          description: Statute code; null when unavailable.
          type:
          - string
          - 'null'
      type: object
    BackgroundCheckSection:
      description: A subject's findings for one record type. Record fields differ by section key.
      properties:
        addresses:
          description: Known addresses. Populated only on the `profile` section; empty elsewhere.
          items:
            $ref: '#/components/schemas/ProfileAddress'
          type: array
        akas:
          description: Also-known-as names. Populated only on the `profile` section; empty elsewhere.
          items:
            type: string
          type: array
        business_contacts:
          description: Business contacts shown on the `profile` section; empty elsewhere.
          items:
            $ref: '#/components/schemas/BusinessContact'
          type: array
        business_profile_details:
          description: Customer-safe business identity and profile details shown on the `profile` section; empty elsewhere.
          items:
            $ref: '#/components/schemas/BusinessProfileRecordSchema'
          type: array
        corporate_records:
          description: Business corporate filings shown on the `profile` section; empty elsewhere.
          items:
            $ref: '#/components/schemas/CorporateRecordSchema'
          type: array
        count:
          description: Number of records in the section.
          type: integer
        emails:
[...]
