openapi: 3.2.0
info:
  contact:
    email: support@herondata.io
    name: Support
  title: Heron Data End User Accounts API
  version: '2021-07-19'
servers:
- description: Production
  url: https://app.herondata.io
security:
- ApiKeyAuth:
  - key_XXX
tags:
- name: EndUserAccounts
paths:
  /api/end_users/{end_user_id_or_heron_id}/missing_accounts:
    get:
      description: Get a list of possible missing accounts for a given End User. This endpoint is in beta and likely to change.
      parameters:
      - description: The `end_user_id` or `heron_id` of EndUser
        in: path
        name: end_user_id_or_heron_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  missing_accounts:
                    items:
                      $ref: '#/components/schemas/MissingAccountSchema'
                    type: array
                type: object
          description: OK
      security:
      - ApiKeyAuth: []
      summary: Get Missing Accounts (beta)
      tags:
      - EndUserAccounts
components:
  schemas:
    MissingAccountSchema:
      properties:
        account_name:
          description: An account name extracted from the transaction description
          example: Checking
          type: string
        account_number:
          description: An account number extracted from the transaction description
          example: '****4321'
          type: string
        transactions:
          items:
            $ref: '#/components/schemas/Transaction3'
          type: array
      type: object
    Transaction3:
      properties:
        account_id:
          description: Your unique ID for account associated with transaction
          example: checking_account_202348
          maxLength: 400
          type:
          - string
          - 'null'
        amount:
          description: Amount. Inflows to an account should be positive, and outflows from an account should be negative. If using Plaid, please flip the amount sign for all transactions.
          example: -42.42
          type: number
        currency:
          description: ISO 4217 currency code
          example: USD
          maxLength: 3
          minLength: 3
          type:
          - string
          - 'null'
        description:
          description: The text description for the transaction
          example: GOOGLE *ADS12340929 cc@google.com US
          type: string
        heron_id:
          description: Unique ID of transaction; generated by Heron Data
          example: txn_Hafnew3Y97Q5Yv29VmHR4C
          readOnly: true
          type: string
        timestamp:
          description: The ISO 8601 timezone aware timestamp of the transaction; takes precedence over 'date'
          example: '2021-11-12T10:38:05Z'
          format: date-time
          type:
          - string
          - 'null'
      required:
      - amount
      - description
      type: object
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: x-api-key
      type: apiKey
externalDocs:
  description: Read Tutorial
  url: https://docs.herondata.io/
